# Python examples in lecture 10
* This file is a jupyter notebook. To run it you can download it from the DLE and run it on your own machine.
* Or you can run it on google collab <https://colab.research.google.com> via your google account. This may be slower than running on your own machine
* Information on downloading notebooks from the store to your computer https://youtu.be/1zY7hIj5tWg

#  Inserting  into and changing a SQLite database

Recall the CRUD model of interacting with a database  

https://en.wikipedia.org/wiki/Create,_read,_update_and_delete


* Create
* Read
* Update
* Delete

We will now review Create and introduce the Update and Delete.

##  Component parts of SQL

**data definition language (DDL)** https://en.wikipedia.org/wiki/Data_definition_language
* create table
* alter table
* drop table   (delete a table)

**data query language (DQL)** https://en.wikipedia.org/wiki/Data_query_language
* select 

**A data manipulation language (DML)** is a computer programming language used for adding (inserting), deleting, and modifying (updating) data in a database. https://en.wikipedia.org/wiki/Data_manipulation_language

##  Example of adding a table into a database

The example python code below creates a SQLite database in the file:  <b> example.db </b>

The name of the table is:  <b> EMPLOYEE </b> with column headings

*  FIRST_NAME
*  AGE

Note I have not added a key for the table.

In [1]:
import sqlite3
conn = sqlite3.connect('example.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()
#Creating table as per requirement. This is an example of a SQL schema.
sql ='''CREATE TABLE IF NOT EXISTS EMPLOYEE(
   FIRST_NAME CHAR(20),
   AGE INT
)'''
cursor.execute(sql)
print("Table created successfully........")
# Commit your changes in the database
conn.commit()
#Closing the connection
conn.close()

Table created successfully........

## Comment on the above code

* The command <b> conn.commit() </b> makes the changes to the database file.
* If the EMPLOYEE table is already in the file example.db you will get an error. So I would first delete the file <b> example.db </b>

## Inserting a new row into SQLite database file

* Now that we have created a database file we can add rows to the table.
* In a previous lecture we have seen how to create a table using pandas.
* This example puts constant values into the database.

In [2]:
import sqlite3
conn = sqlite3.connect('example.db')
#Creating a cursor object using the cursor() method
cursor = conn.cursor()
# Preparing SQL queries to INSERT a record into the database.
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Ramya',  27)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME,  AGE) VALUES 
   ('Tom',  20)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Jane',  35)''')
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   ('Roger', 22 )''')
# Commit your changes in the database
conn.commit()
print("Records inserted........")
# Closing the connection
conn.close()

Records inserted........

We can check that the rows have been added to the table in the database

* Use the python code to read the table to show the rows have been entered.
* Or you can use a command line utility such as https://sqlite.org/cli.html
* Or you can use the online https://inloop.github.io/sqlite-viewer/

In [3]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()
cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

('Ramya', 27, None)
('Tom', 20, None)
('Jane', 35, None)
('Roger', 22, None)
('John', 45, None)
('Ramya', 27, None)
('Tom', 20, None)
('Jane', 35, None)
('Roger', 22, None)
('John', 45, None)
('Ramya', 27, None)
('Tom', 20, None)
('Jane', 35, None)
('Roger', 22, None)

## Example of inserting values into a table

* In this example, variables **name_** and **age_** are addded to the table.

In [4]:
import sqlite3

conn = sqlite3.connect('example.db')

#Creating a cursor object using the cursor() method
cursor = conn.cursor()

name_ = "John"
age_  = 45

# Preparing SQL queries to INSERT a record into the database.
cursor.execute('''INSERT INTO EMPLOYEE(
   FIRST_NAME, AGE) VALUES 
   (?, ?)''' , (name_, age_) )
# Note that (name_, age_ ) is a tuple data type

# Commit your changes in the database
conn.commit()
print("Records inserted........")
# Closing the connection
conn.close()

Records inserted........

##  Updating and changing the table

The data in the table can be updated

The SQL command sets all the ages to 35

<b> UPDATE EMPLOYEE SET AGE = 35;  </b>

The SQL commands adds 1 to each age

<b> UPDATE EMPLOYEE SET AGE = AGE+1;  </b>

The SQL command below sets Tom's age to 40

<b> UPDATE EMPLOYEE SET AGE=40 WHERE FIRST_NAME = 'Tom'</b>

See the file <b> update_example.py </b> for an example using python.

See  https://www.w3schools.com/sql/sql_update.asp for more examples

In [5]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

#Updating the records
sql = "UPDATE EMPLOYEE SET AGE=40 WHERE FIRST_NAME = 'Tom' "
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

Table updated......
('Ramya', 27, None)
('Tom', 40, None)
('Jane', 35, None)
('Roger', 22, None)
('John', 45, None)
('Ramya', 27, None)
('Tom', 40, None)
('Jane', 35, None)
('Roger', 22, None)
('John', 45, None)

###  Deletion 
Data in the tables can be deleted.

The SQL command deletes the row with FIRST_NAME equal to Jane.

<b> DELETE FROM EMPLOYEE WHERE FIRST_NAME = 'Jane'; </b>

The SQL command deletes everything from the EMPLOYEE table.

<b> DELETE FROM EMPLOYEE ;</b>

See more information at: https://www.w3schools.com/sql/sql_delete.asp

In [6]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

#Updating the records. Remove row with First_Name Jane
sql = "DELETE FROM EMPLOYEE WHERE FIRST_NAME = 'Jane';"
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

Table updated......
('Ramya', 27, None)
('Tom', 20, None)
('Roger', 22, None)
('John', 45, None)
('Ramya', 27, None)
('Tom', 20, None)
('Roger', 22, None)
('John', 45, None)

##  Altering the TABLES

The SQL command below adds a new column LAST_NAME to the EMPLOYEE table

<b>  ALTER TABLE EMPLOYEE ADD COLUMN LAST_NAME ; </b>

The SQL command renames the table EMPLOYEE to STAFF

<b> ALTER TABLE EMPLOYEE RENAME to STAFF  ; </b>

The SQL ccommand rename a column in table EMPLOYEE

<b>  ALTER TABLE EMPLOYEE RENAME COLUMN Age TO StaffAge ; </b>


Some database systems allow a column to be deleted. This is not so easy with SQLite https://www.sqlitetutorial.net/sqlite-alter-table/

See  https://www.sqlite.org/lang_altertable.html  for additional information.

In [4]:
import sqlite3
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

# Add a new column
sql = "ALTER TABLE EMPLOYEE ADD COLUMN LAST_NAME" 
cursor.execute(sql)
print("Table updated...... ")

cursor.execute("SELECT * FROM EMPLOYEE") 
result = cursor.fetchall() 
for r in result:
    print(r)

OperationalError: duplicate column name: LAST_NAME